<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить автомобиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Вы уверены, что хотите удалить {{ car.brand }} {{ car.model }}?</h2>
        <form method="post">
            <button type="submit">Удалить</button>
            <a href="{{ url_for('show_cars') }}"><button type="button">Отменить</button></a>
        </form>
    </div>
</body>
</html>